<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true"
	internalLogLevel="Info"
	internalLogFile="C:\Users\OluwatunimiseAtanda\OneDrive - Globus Bank Limited\Documents\Projects\P2PWallet\P2PWallet\Logs\internallog\internallog.txt">
	
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target
		  name="logfile"
		  xsi:type="file"
		  filename="C:\Users\OluwatunimiseAtanda\OneDrive - Globus Bank Limited\Documents\Projects\P2PWallet\P2PWallet\Logs\${shortdate}_logfile.txt"
		  layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>